/* Coolors Exported Palette - https://coolors.co/1e1e24-92140c-fff8f0 */

/* CSS HEX */
--raisin-black: #1e1e24ff;
--dark-red: #92140cff;
--floral-white: #fff8f0ff;

/* CSS HSL */
--raisin-black: hsla(240, 9%, 13%, 1);
--dark-red: hsla(4, 85%, 31%, 1);
--floral-white: hsla(32, 100%, 97%, 1);

/* SCSS HEX */
$raisin-black: #1e1e24ff;
$dark-red: #92140cff;
$floral-white: #fff8f0ff;

/* SCSS HSL */
$raisin-black: hsla(240, 9%, 13%, 1);
$dark-red: hsla(4, 85%, 31%, 1);
$floral-white: hsla(32, 100%, 97%, 1);

/* SCSS RGB */
$raisin-black: rgba(30, 30, 36, 1);
$dark-red: rgba(146, 20, 12, 1);
$floral-white: rgba(255, 248, 240, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1e1e24ff, #92140cff, #fff8f0ff);
$gradient-right: linear-gradient(90deg, #1e1e24ff, #92140cff, #fff8f0ff);
$gradient-bottom: linear-gradient(180deg, #1e1e24ff, #92140cff, #fff8f0ff);
$gradient-left: linear-gradient(270deg, #1e1e24ff, #92140cff, #fff8f0ff);
$gradient-top-right: linear-gradient(45deg, #1e1e24ff, #92140cff, #fff8f0ff);
$gradient-bottom-right: linear-gradient(135deg, #1e1e24ff, #92140cff, #fff8f0ff);
$gradient-top-left: linear-gradient(225deg, #1e1e24ff, #92140cff, #fff8f0ff);
$gradient-bottom-left: linear-gradient(315deg, #1e1e24ff, #92140cff, #fff8f0ff);
$gradient-radial: radial-gradient(#1e1e24ff, #92140cff, #fff8f0ff);